body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/108/064/non_2x/free-rainbow-leak-vector.png);
    background-size: cover;
}

ul{
    list-style: none;;
    padding-left: 0;
}

.side-menu{
    background-color: slategrey;
    height: 100vh;
    width: 200px;;
}

.contain{
    display: flex;
}

.table{
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colors-menu{
    margin-top: 20px;
    padding: auto;
}

.selector{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 20px;
    margin-left: 75px;
    border-radius: 100px;
}

#rubber{
    background-image: url(https://cdn.icon-icons.com/icons2/906/PNG/512/eraser_icon-icons.com_70168.png);
    background-color: slategray;
    border: none;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 60px;
}

label{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slidecontainer {
    width: 100%;
    text-align: center;
}

.slider {
    appearance: none;
    width: 100%; 
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.btn-menu button{
    color:white;
    background-color:rgb(13, 9, 53);
    font-family: 'Spicy Rice', cursive;
    font-size:20px;
    margin: 10px;
    width: 150px;;
    cursor:pointer;
}

#canvas{
    height: 500px;
    width: 500px;
    background: white;
    position: relative;
}